# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.env*.local
.swc/plugins/windows_x86_64_22.0.1/4e08e1262f211c85bd1fa82e86a449dedc9668b4f919690025c08290239f7981.wasmer-v7
